<!-- Bas de page
=================================== -->
<footer class="page-footer mt-5 py-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-6">
                <p class="mb-0" style="font-size: .875rem"><strong>SA Sport Forum</strong></p>
            </div>
            <div class="col-sm-8 col-md-6">
                <p class="mb-0" style="font-size: .875rem">Développé par <strong>Sinigur Artiom</strong> et <strong>Walid Drihem</strong></p>
            </div>
        </div>
    </div>
</footer>