<!doctype html>
<html lang="fr">
	<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Material icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!-- Bootstrap CSS -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="css/main.css">

	<title>Afficher la liste des sujets</title>
	</head>
<body>
	<main>
		<section class="list-threads">
			<div class="container-fluid">
				<h1 class="title my-4">Afficher la liste des sujets</h1>
				
				<div class="table-responsive shadow-sm bg-white mb-4">
					<table class="table table-sm mb-0 table-hover border table-borderless">
						<thead class="border-bottom bg-dark text-white">
							<tr>
								<th class="py-3" scope="col" class="head-avatar"></th>
								<th class="py-3" scope="col" class="head-topic">Sujet</th>
								<th class="py-3" scope="col" class="head-author">Auteur</th>
								<th class="py-3" scope="col" class="head-post">Messages</th>
								<th class="py-3" scope="col" class="head-view">Vues</th>
								<th class="py-3" scope="col" class="head-last-post">Dernier message</th>
							</tr>
						</thead>
						<tbody>
							<tr class="border-bottom">
								<td class="thread-avatar">
									<img class="thread-avatar-img" src="https://placeimg.com/35/35/any" alt="">
								</td>
								<td class="thread-title">
									<a href="thread.html" class="thread-topic-name">Lorem ipsom dolar purt an san meltor</a>
								</td>
								<td class="thread-author">
									<a href="" class="thread-author-profile d-block">Makleyn22</a>
									<span class="thread-author-published"><small>Sep 18, 2019</small></span>
								</td>
								<td class="thread-posts">
									<span class="thread-count-posts">158</span>
								</td>
								<td class="thread-views">
									<span class="thread-count-views">3,560</span>
								</td>
								<td class="thread-last-post">
									<a href="" class="thread-last-post-author d-block">JemsBond007</a>
									<span class="thread-last-post-published"><small>Sep 18, 2019</small></span>
								</td>
							</tr><!-- /end table row -->
						</tbody>
					</table>
				</div>
	
				<div class="pagination">
					<ul class="bar pagination">
						<li class="page-item"><a class="page-link" href="#">Précedent</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Suivant</a></li>
					</ul>
				</div>

			</div><!-- /end container -->
		</section>
	</main>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>